<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./test/Bootstrap.php">
    <testsuites>
        <testsuite name="orm">
            <directory>./test/Orm</directory>
        </testsuite>
        <testsuite name="odm">
            <directory>./test/Odm</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
